.well {
  text-align: center;
  margin-right: 20px;
  margin-left: 60px;
  margin-top: 70px;
}
.video {
  margin-top: 25px;
  margin-bottom: 25px;
}
.hero-content {
  background-color: #D3D3D3;
}
.btn-success {
  font-size: 16px;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}
.container {
background-color: #2F4F4F;  
}
h2 {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 24px;
}
p {
  font-family: 'Open Sans', sans-serif;
    font-size: 13px;
}

